[Unit]
Description=Flask Web Server
After=network.target

[Service]
Type=simple
User=pi
ExecStart=/usr/bin/python api_custom.py
Restart=on-failure
StandardOutput=syslog

[Install]
WantedBy=multi-user.target

put in '/etc/systemd/system'
run this command 'systemctl daemon-reload'